<div class="container">
  {{#each restaurant}}
    <div class="res-card">
      <div class="res-inner">
        <div class="res-pic"><img src="{{image}}" alt="{{name}}"></a></div>

        <div class="res-details">
          <a href= {{location}} target="_blank"><p>{{name}}</p></a>
          <p>{{cuisine}}</p>
          <p></p>
        </div>
      </div>

    </div>
  {{/each}}
</div>