<div class="res-list">
  {{#each restaurant}}
  <div class="res-card">
    <ul class="res-details">
      {{!-- change fields to be shown here --}}
      <li><img class="res-pic" src="{{image}}" alt="{{name}}"></a></li>
      <li>{{name}}</li>
      <li>{{cuisine}}</li>
      <li><a href={{location}}>Need directions?</a></li>

    </ul>


  </div>
  {{/each}}
</div>